[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
chromadb = "*"
sounddevice = "*"
soundfile = "*"
streamlit = "*"
langchain = "*"
langchain-openai = "*"
openai = "*"
python-dotenv = "*"
faiss-cpu = "*"
httpx = "*"
tqdm = "*"
requests = "*"
deepgram-sdk = "*"
serpapi = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.13"
